
<ion-content>
  <div class="center principal">

  <h2>Cadastre-se</h2>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type='text' placeholder='Informe seu nome'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type='email' placeholder='Informe seu email'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type='password'></ion-input>
  </ion-item>

  <button class="btn-cadastrar">Cadastrar</button>
  <p (click)='login()'>Já tenho uma conta</p>
  </div>

</ion-content>


