<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Veiculo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Solicitante</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Proprietario</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">veiculo</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Chassi</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Local</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Atraves de</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type='tel'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Renavan</ion-label>
        <ion-input type='numeric'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Bairro</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CPF/CNPJ</ion-label>
        <ion-input type='numeric'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cor</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Placa</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Produto</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cidade</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>




      <ion-list>
        <ion-radio-group value="biff">
          <ion-list-header>
            <ion-label>Guincho</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Sim</ion-label>
            <ion-radio slot="start" value="biff"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Não</ion-label>
            <ion-radio slot="start" value="griff"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select>
          <ion-select-option value="AC">Acre</ion-select-option>
          <ion-select-option value="AL">Alagoas</ion-select-option>
          <ion-select-option value="AP">Amapá</ion-select-option>
          <ion-select-option value="AM">Amazonas</ion-select-option>
          <ion-select-option value="BA">Bahia</ion-select-option>
          <ion-select-option value="CE">Ceará</ion-select-option>
          <ion-select-option value="DF">Distrito Federal</ion-select-option>
          <ion-select-option value="ES">Espírito Santo</ion-select-option>
          <ion-select-option value="GO">Goiás</ion-select-option>
          <ion-select-option value="MT">Mato Grosso</ion-select-option>
          <ion-select-option value="MS">Mato Grosso do Sul</ion-select-option>
          <ion-select-option value="MG">Minas Gerais</ion-select-option>
          <ion-select-option value="PA">Pará</ion-select-option>
          <ion-select-option value="PB">Paraíba</ion-select-option>
          <ion-select-option value="PR">Paraná</ion-select-option>
          <ion-select-option value="PE">Pernambuco</ion-select-option>
          <ion-select-option value="PI">Piauí</ion-select-option>
          <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
          <ion-select-option value="RN">Rio Grande do Norte</ion-select-option>
          <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
          <ion-select-option value="RO">Rondônia</ion-select-option>
          <ion-select-option value="RR">Roraima</ion-select-option>
          <ion-select-option value="SC">Santa Catarina</ion-select-option>
          <ion-select-option value="SP">São Paulo</ion-select-option>
          <ion-select-option value="SE">Sergipe</ion-select-option>
          <ion-select-option value="TO">Tocantins</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <button class="btn-cadastrar">Cadastrar</button>
</ion-content>

